<div class="Sub_component_1 ">
<!--  Sub components Header-->
  <div class="Sub_component_1_first_p mt-2">
     <p>Here you can drag and arrange the order of the customer fields as you prefer.Please note that the top ribbon fields and other fixed fields cannot be re</p>
  </div>
  <div class="fixed_field">

    <app-fixed-field></app-fixed-field>



  </div>
  <app-profile-custom-field></app-profile-custom-field>
    <hr class="hr-tag  mt-3 ">
  <app-dsr-custom-field></app-dsr-custom-field>
    </div>

