<div class="Sub_component_1 ">
<!--  Sub components Header-->
  <div class="Sub_component_1_first_p mt-2">
     <p>Here you can drag and arrange the order of the customer fields as you prefer.Please note that the top ribbon fields and other fixed fields cannot be re</p>
  </div>
  <div class="fixed_field">

<!-- Expandable Box -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div>
              <h4>Fixed Field</h4>
              <p>We defined a few fields for your ease. These fields will be required when filling & submitting responses
              </p>
            </div>
          </button>
        </h2>

        <div class="Options">

                   <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                     <div class="accordion-body">

                       <div class="sub_t mb-5">
                       <span style="font-size: 20px;">For the Profile</span>
                         <span style="font-size: 13px;"> These fields will be the same across all agent types & few of them will be added to the profile ribbon.</span>

                       <div class="card_1 mt-3">
                         <h2 class="Name_tag">Name</h2>
                         <div class="container text-center">
                           <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                             <div class="col">
                               <div class="p-3">Address </div>
                             </div>
                             <div class="col">
                               <div class="p-3">Contact number</div>
                             </div>
                             <div class="col">
                               <div class="p-3">Email</div>
                             </div>
                             <div class="col">
                               <div class="p-3">NIC number</div>
                             </div>
                           </div>
                         </div>
                       </div>



                         <div class="container text-center mt-4">
                           <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                             <div class="col">
                               <div class="p-2">Field x</div>
                             </div>
                           </div>
                         </div>



                    </div>
                   </div>
        </div>

      </div>
      </div>
    </div>
</div>
